<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UMDAPY server</title>
  </head>
  <body>
    <!-- create nav bar with three links /home => /, /umdapy and /rq -->
    <nav>
      <a href="/">Home</a>
      <a href="/umdapy">UMDAPY</a>
      <a href="/rq">RQ</a>
    </nav>
    <h1>UMDAPY server</h1>
    <p>UMDAPY server is a server that provides a RESTful API for the UMDA_UI.</p>
  </body>
</html>
