<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CXML_PY server</title>
  </head>
  <body>
    <!-- create nav bar with three links /home => /, /cxml_py and /rq -->
    <nav>
      <a href="/">Home</a>
      <a href="/cxml_py">CXML_PY</a>
      <a href="/rq">RQ</a>
    </nav>
    <h1>CXML_PY server</h1>
    <p>CXML_PY server is a server that provides a RESTful API for the CXML_UI.</p>
  </body>
</html>
